@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50rem;
  padding: 0 10rem;
  height: 10rem;
}

.title {
  width: 100%;
  height: 2em;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 5em;
  text-align: center;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  flex-direction: row;
  font-size: 3em;
}

.basket-img > * {
  height: 1em;
}

.itemsArea {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 2em;
}

.item {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20em;
  width: 14em;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 2em;
  border: 4px solid black;
}

.item > img {
  width: 10em;
  height: 5em;
  border-radius: 1em;
}

.itemName {
  font-weight: 600;
  /* color: rgb(43, 174, 177); */
  color: black;
  margin-bottom: 1rem;
}

.itemDesc {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  white-space: normal;
  height: 60%;
  width: 100%;
  padding: 0 0.1rem;
}

.itemPrice {
  font-size: 1em;
  font-weight: 200;
  margin-bottom: 1em;
}

.item-amount {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-bottom: 0.5em;
}

.item-amount input {
  width: 5em;
  text-align: center;
}

.plus-minus-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.plus-minus-buttons > * {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1em;
}

.plus-minus-buttons > *:hover {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  background-color: turquoise;
  -webkit-transition: background-color 0.3s ease-in;
  -moz-transition: background-color 0.3s ease-in;
  -ms-transition: background-color 0.3s ease-in;
  -o-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
}

.plus-minus-buttons > *:not(:hover) {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  background-color: transparent;
  -webkit-transition: background-color 0.3s ease-in;
  -moz-transition: background-color 0.3s ease-in;
  -ms-transition: background-color 0.3s ease-in;
  -o-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
}

.item-amount > button {
  height: 1.5em;
  width: 6em;
  margin-top: -2em;
}

.item-amount > button:hover {
  height: 1.5em;
  width: 6em;
  border: none;
  border-radius: 1em;
  background-color: turquoise;
  -webkit-transition: background-color 0.3s ease-in;
  -moz-transition: background-color 0.3s ease-in;
  -ms-transition: background-color 0.3s ease-in;
  -o-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
}

.item-amount > button:not(:hover) {
  height: 1.5em;
  width: 6em;
  border: none;
  border-radius: 1em;
  background-color: transparent;
  -webkit-transition: background-color 0.3s ease-in;
  -moz-transition: background-color 0.3s ease-in;
  -ms-transition: background-color 0.3s ease-in;
  -o-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
}

.items {
  display: flex;
  flex-direction: column;
  margin: 5em;
  gap: 2em;
}

.all-basket {
  display: flex;
  flex-direction: column;
}

.basket-main {
  font-family: "Poppins", sans-serif;
}

.basket-checkout {
  display: flex;
  gap: 10em;
}

.basket-main > a {
  display: block;
  width: fit-content;
}

.shop-link {
  text-decoration: none;
  color: black;
  margin-left: 10em;
  font-size: 1.3em;
}

.empty-basket {
  margin-left: 5em;
  margin-top: 2em;
}

.basket-item {
  display: flex;
  gap: 3em;
}

.basket-item > img {
  width: 10em;
}

.item-display {
  margin: 5em;
  display: flex;
  justify-content: center;
  gap: 3em;
}

.item-display > img {
  width: 15em;
  height: 15em;
  border-radius: 1em;
}

.item-display-desc {
  width: 50%;
}

.basket-interaction {
  margin-top: 1em;
}

.basket-interaction > .itemPrice {
  font-size: 2em;
}

.basket-total {
  margin-left: 10em;
  font-size: 2em;
}

.delete-button:hover {
  cursor: pointer;
}

.checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  width: 25em;
  padding: 1em;
  border: 1px dashed black;
}

.checkout > * {
  border-style: none;
  margin-bottom: 1em;
}

.agree-field > legend {
  margin-bottom: 2em;
}

.agree-field > input {
  margin-right: 1em;
}

.payment-button {
  margin-top: 2em;
  display: flex;
  height: 10%;
  width: 20%;
  justify-content: center;
  align-items: center;
  border-radius: 2em;
}

.payment-button:hover {
  border-radius: 2em;
  background-color: turquoise;
  -webkit-transition: background-color 0.3s ease-in;
  -moz-transition: background-color 0.3s ease-in;
  -ms-transition: background-color 0.3s ease-in;
  -o-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
}

.payment-button:not(:hover) {
  border-radius: 2em;
  -webkit-transition: background-color 0.3s ease-in;
  -moz-transition: background-color 0.3s ease-in;
  -ms-transition: background-color 0.3s ease-in;
  -o-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
}

.hide {
  -webkit-animation: fadeinout 0.3s linear forwards;
  animation: fadeinout 0.3s linear forwards;
  position: absolute;
}

@-webkit-keyframes fadeinout {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeinout {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}

.show {
  position: relative;
  -webkit-animation: display 0.5s linear forwards;
  animation: display 0.5s linear forwards;
}

@-webkit-keyframes display {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes display {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
