@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100%;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 85%);
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 5em;
    color: white;
    background: linear-gradient(180deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1em;
    position: absolute;
    top: 40%;
    right: 7em;
    font-size: 3em;
}
.basket-img > * {
    height: 1em;
}

.itemsArea {
    display: grid;
    place-items: center;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 2em;
}

.item {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 17.5em;
    width: 14em;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 1.5em;
    background: linear-gradient(0deg, rgba(230,230,230,1) 0%, rgba(254,191,57,0.87718837535014) 64%);
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 2em;
    border-radius: 1em;
}

.item > img {
    width: 10em;
    height: 5em;
    border-radius: 1em;
}

.itemName {
    font-weight: 200;
    /* color: rgb(43, 174, 177); */
    color: white;
}

.itemDesc {
    text-overflow:ellipsis;
    overflow:hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    white-space: normal;
    height: 35%;
    width: 100%;
    margin-bottom: 0.3em;
}

.itemPrice {
    font-size: 0.5em;
    font-weight: 100;
    margin-bottom: 1.5em;
}

.item-amount {
    height: fit-content;
    display: flex;
    gap: 1em;
}

.item-amount input {
    width: 5em;
    text-align: center;
}

.plus-minus-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.plus-minus-buttons > * {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1em;
}

.plus-minus-buttons > *:hover {
    border-radius: 50%;
    height: 25px;
    width: 25px;
    background-color: blueviolet;
    -webkit-transition: background-color 0.3s ease-in;
    -moz-transition: background-color 0.3s ease-in;
    -ms-transition: background-color 0.3s ease-in;
    -o-transition: background-color 0.3s ease-in;
    transition: background-color 0.3s ease-in;
}

.item-amount > button {
    height: 1.5em;
    width: 6em;
    border: none;
    border-radius: 1em;
    background: linear-gradient(180deg, rgba(34,193,195,0.36458333333333337) 0%, rgba(253,187,45,0.6530987394957983) 100%);
}

.items {
    display: flex;
    flex-direction: column;
    margin: 5em;
    gap: 2em;
}

.basket-main {
    font-family: 'Poppins', sans-serif;
}

.basket-main > a {
    display: block;
    width: fit-content
}

.shop-link {
    text-decoration: none;
    color: rgb(238, 238, 238);
    margin-left: 10em;
    font-size: 1.3em;
}

.empty-basket {
    margin-left: 5em;
    margin-top: 2em;
}

.basket-item {
    display: flex;
    gap: 3em;
}

.basket-item > img {
    width: 10em;
}

.item-display {
    margin: 5em;
    display: flex;
    justify-content: center;
    gap: 3em;
}

.item-display > img {
    width: 15em;
    height: 15em;
    border-radius: 1em;
}

.item-display-desc {
    width: 50%;
}

.basket-interaction {
    margin-top: 1em;
}

.basket-interaction > .itemPrice {
    font-size: 2em;
}

.basket-total {
    margin-left: 10em;
    font-size: 2em;
}

.hide {
    -webkit-animation: fadeinout .3s linear forwards;
    animation: fadeinout .3s linear forwards;
    position: absolute;
}

@-webkit-keyframes fadeinout {
    0% { opacity: 0.6; }
    50% { opacity: 0.2; }
    100% { opacity: 0; }
}

@keyframes fadeinout {
    0% { opacity: 0.6; }
    50% { opacity: 0.2; }
    100% { opacity: 0; }
}

.show {
    position: relative;
    -webkit-animation: display .5s linear forwards;
    animation: display .5s linear forwards;
}


@-webkit-keyframes display {
    0% { opacity: 0.2; }
    50% { opacity: 0.6; }
    100% { opacity: 1; }
}

@keyframes display {
    0% { opacity: 0.2; }
    50% { opacity: 0.6; }
    100% { opacity: 1; }
}