* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background: linear-gradient(180deg, rgba(34,193,195,1) 26%, rgba(253,187,45,1) 100%);
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 5em;
    color: white;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.cart {
    display: flex;
    flex-direction: row;
    gap: 1em;
    position: absolute;
    top: 40%;
    right: 20em;
    height: 1em;
}
.basket-img > * {
    height: 1em;
}

.itemsArea {
    display: grid;
    place-items: center;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 2em;
}

.item {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 17.5em;
    width: 14em;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 1.5em;
    background: linear-gradient(0deg, rgba(230,230,230,1) 0%, rgba(254,191,57,0.87718837535014) 64%);
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 2em;
    border-radius: 1em;
}

.item > img {
    width: 10em;
    height: 5em;
}

.itemName {
    font-weight: 500;
    color: rgb(43, 174, 177);
}

.itemDesc {
    text-overflow:ellipsis;
    overflow:hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    white-space: normal;
    height: 35%;
    width: 100%;
    margin-bottom: 0.5em;
}

.itemPrice {
    font-size: 0.5em;
    font-weight: 100;
    margin-bottom: 1.5em;
}

.item-amount {
    height: fit-content;
    display: flex;
    gap: 1em;
}

.item-amount input {
    width: 5em;
}

.item-amount > button {
    height: 1.5em;
    width: 6em;
    border: none;
    border-radius: 1em;
    background: linear-gradient(180deg, rgba(34,193,195,0.36458333333333337) 0%, rgba(253,187,45,0.6530987394957983) 100%);
}

.basket-item > img {
    width: 10em;
}